.login-container {
  height: 659px;
  display: flex;
  width: 935px;
  justify-content: center;
  margin: auto;
  align-items: center;
  margin-block-start: 3rem;
}

.Login__Img__Container {
  margin-right: 32px;
  // background-image: url('https://www.instagram.com/static/images/homepage/phones/home-phones.png/1dc085cdb87d.png');
  background-position: -46px 0;
  height: 581.15px;
  flex-basis: 380.32px;
}

.Login__SignUp {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  font-size: 14px;
  height: 63px;
  border: 1px solid rgb(219, 219, 219);
  background-color: #ffffff;

  a {
    font-weight: 600;
    color: #0095f6;
    margin-left: 4px;
  }
}
