.PostAddComment__postBtnActive {
  color: #0095f7;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
}

.PostAddComment__postBtnInactive {
  color: #b3dffc;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
}

.PostAddComment__container {
  display: grid;
  grid-template-columns: 40px 1fr 27px;
  grid-template-rows: auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-area: 5 / 1 / 6 / 2;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 1rem;
  input {
    font-size: 14px;
    &::placeholder {
      color: #8e8e8e;
      line-height: 18px;
    }
  }

  .svg {
    height: 24px;
    width: 24px;
    padding: 8px;
  }
}
